---
layout: layouts/product
title: Bohrschablone für Abus FAS97
description: Don't spend a fortune for an easy installation
keywords: jig, abus, fas97, drill, template, bohrschablone
---

<main class="bg-color0">

<section class="layout-main padding-xl-t margin-xl-b product gap-l-column gap-s-row">

  <div class="product-display animation-fadein animation-duration-500">
    <img src="overview.jpg" alt="abus-fas97-jig cover" class="sticky outline" />
  </div>

  <div class="product-cta">
    <h1 class="type3 sans bold">Jig for Abus FAS97</h1>
    <h2 class="type1">Cheaper but good enough.</h2>
    <p class="type-1 sans margin-l-b margin-s-t">#jig</p>

    <p class="type0">
      Includes:
    </p>
    <ul class="type0 margin-l-b list-dot-inside">
      <li>2 screws
      <li>plastic jig
    </ul>

    <p class="type2">
      15 EUR
    </p>
    <p class="type-1">
      incl. VAT and shipping to Germany or Austria.<br>
      Write an <a href="mailto:{{ site.author.email }}">email</a> if you are from another country.
    </p>

    <p class="margin-l-t">

      <a class="button" href="https://buy.stripe.com/14kdRuaZr8597Nm7st">Buy Product</a>

      <a class="button" href="https://gumroad.com/l/demo?wanted=true">Buy STL</a>

    </p>

  </div>

</section>


</main>
