---
title: Jig for Abus FAS97 - Torsten Curdt
description: Don't spend a fortune for an easy installation
keywords: jig, abus, fas97, drill, template, bohrschablone
layout: products
class: pdp
---

<main class="bg-color0">

<section class="layout-main padding-xl-t margin-xl-b product gap-l-column gap-s-row">

  <div class="product-display animation-fadein animation-duration-500">
    <img src="cover.jpg" alt="abus-fas97-jig cover" class="sticky outline" />
  </div>

  <div class="product-cta">
    <h1 class="type3 sans bold">Jig for Abus FAS97</h1>
    <h2 class="type1">Cheaper but good enough.</h2>
    <p class="type-1 sans margin-l-b margin-s-t">#jig</p>

    <p class="type0">
      Includes:
    </p>
    <ul class="type0 margin-l-b list-dot-inside">
      <li>2 screws
      <li>plastic jig
    </ul>

    <p class="type2">
      15 EUR
    </p>
    <p class="type-1">
      incl. VAT and shipping to Germany or Austria.<br>
      Write an <a href="mailto:{{ site.author.email }}">email</a> if you are from another country.
    </p>

    <p class="margin-l-t">

      <a class="button" href="https://buy.stripe.com/14kdRuaZr8597Nm7st">Buy Product</a>

      <a class="button" href="https://gumroad.com/l/demo?wanted=true">Buy STL</a>

      <!--
      <a class="button" href="mailto:{{ site.author.email }}?subject=%5BPre-Order%5D%20Flip%20Flop%20Fix&body=Please%20provide%20your%20shipping%20address.%0A%0AShipping%20Address%3A">Pre-Order</a>
      -->

    </p>

  </div>

</section>

<!--
<section class="layout-main margin-xl-tb">
  <p class="type2 bold">Out and about and the darn sandal broke again?</p>
  <img src="broken.jpg" alt="broken flip flop" class="w-full margin-m-tb" style=""/>
  <p class="type2 bold">With this flip flop fix kit you can repair it on the go.</p>
</section>

<section class="layout-main margin-xl-tb">
  <p class="type3 bold sans">When I had to walk barefood through the jungle I wanted something to fix my shoes.</p>
</section>

<section class="layout-main margin-xl-tb">
  <video controls="controls" src="explainer.mp4" poster="explainer.jpg" preload="true" class="w-full">
    <h2 class="type3 bold sans margin-xl-tb center">How to fix a flip flop?</h2>
    <p>Here would be a video, but your browser does not support that.</p>
  </video>
</section>
-->

<!--
<section class="layout-main">
  <ul>

    <li>
      <p>I wish I'd have already had this this during that hike through the rain forrest.</p>
    </li>

    <li>
      <p>Thanks for the peace of mind!</p>
    </li>

  </ul>
</section>
-->

<!--
<section class="layout-main padding-xl-b">

  <h2 class="type2 sans margin-m-b">Frequently Asked Questions</h2>

  <h3 class="type1 sans margin-s-b">That's almost the price of new pair! Isn't that a little expensive?</h3>
  <ul class="type-0 list-dot-inside">
    <li>You could just buy a new pair - but will you have that pair available the exact moment your shoe breaks?
    <li>Up until now I am only doing small batches. All work is manually and labour isn't cheap over here.
    <li>The tool should last a long time - if not a life time.
    <li>Repairing gives your flip flops a 2nd life, which is better for the environment.
  </ul>

  <h3 class="type1 sans margin-s-b margin-m-t">How many repairs does it last?</h3>
  <p>The current version only holds a single screw. So it lasts for a single repair and then needs to be refilled. The kit comes with 2 screws in total. In theory you can even re-use the screws. For the tool itself, there is no good reason it shouldn't last a life time. During testing I've done many repairs with it - probably more than the number of flip flops you will ever own.</p>

  <p class="type1 sans margin-m-t">Got more questions? Write an <a href="mailto:{{ site.author.email }}">email</a>.

</section>
-->

</main>