---
layout: layouts/base
---

<main class="">

  <section id="hero" class="bg-white px-2">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

      <ul>
      {%- for article in collections.rants -%}
        <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
      {%- endfor -%}
      </ul>

    </div>
    </div>
  </section>

</main>
