---
layout: layouts/default
---

<main class="">

  <section id="hero" class="bg-white px-2">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

      - list of rant articles

    </div>
    </div>
  </section>

</main>
