---
layout: layouts/base
---

<main class="">

  <section class="bg-white text-my-gray">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">
      <h1 class="sr-only">Articles by Torsten Curdt.</h1>
      <p class="">
        Bla
      </p>
    </div>
    </div>
  </section>

  <section class="bg-my-gray text-white">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

      <ol>
      {%- for page in collections.articles %}

      <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
        <span>{{ page.date | isoDate }}</span>
      </li>

      {%- endfor %}
      </ol>

    </div>
  </section>

</main>
