---
layout: layouts/product
title: World Storm Charts for Sailors - Torsten Curdt
description: Data visualization of historic storm data for route planing.
keywords: storms, hurricanes, typhoons, tornados, sailors, cruisers, boating, charts, maps, pdf, routing, route planing
---

<main class="spot">

<section class="product-hero | layout-full padding-xl-t margin-xl-b">

  <div class="hero-img slide-in-from-r">
    <img src="overview.jpg" alt="world storm charts cover" />
  </div>

  <div class="hero-hdr margin-l-b slide-in-from-l">
    <h1 class="type3 sans bold">World Storm Charts</h1>
    <h2 class="type1">Avoid the Storms.<br>Stay safe.</h2>
  </div>

  <div class="hero-txt slide-in-from-l">
    <h3 class="type0 margin-s-t">Decades of data visualized so you can plan your world cruising routes.</h3>
  </div>

  <a href="#options" class="hero-cta | button shortcut slide-in-from-l">Get it Now</a>

</section>

<section class="product-details | margin-xl-tb padding-m-t">
  <p class="layout-text">
    In preparation for a trip I gathered publicly available historic data about gales and storms. I've compiled this information to get an understanding when I should be where in this world. This is now part of my route planing.
  </p>
</section>

<section class="product-proof | margin-xl-tb">
  <h2 class="hidden">What People Say</h2>
  <ul class="product-review | layout-full scroller-reviews padding-l-tb">
    <li>
      <p class="">"Super helpful. Much easier to read."</p>
      <p class="italic">Martin E., SV Wild Too</p>
    </li><!--
    --><li>
      <p class="">"I wish we had this earlier."</p>
      <p class="italic">Foo E., SV foo</p>
    </li><!--
    --><li>
      <p class="">"I wish we had this earlier."</p>
      <p class="italic">Foo E., SV foo</p>
    </li><!--
    --><li>
      <p class="">"I wish we had this earlier."</p>
      <p class="italic">Foo E., SV foo</p>
    </li><!--
    --><li>
      <p class="">"I wish we had this earlier."</p>
      <p class="italic">Foo E., SV foo</p>
    </li><!--
    --><li>
      <p class="">"I wish we had this earlier."</p>
      <p class="italic">Foo E., SV foo</p>
    </li>
  </ul>
</section>

<section class="product-pitch | margin-xl-tb">
  <div class="layout-full llr">
    <div>
      <p class="bold type2 sans">
        How&nbsp;strong?
        How&nbsp;often?
        Where&nbsp;and&nbsp;when?
      </p>
      <p class="margin-m-t">
        All available offline in a zoomable PDF.
      </p>
    </div>
    <div>
    </div>
  </div>
</section>

<section class="product-options | layout-main" id="options">
  <h2 class="hidden">Product Options</h2>
  <ul class="columns-product-options layout-full card-parent">

    <li class="product-option product-option_free | card">
      <h3 class="product-price | type2 bold md:center margin-s-b">Free</h3>
      <div class="product-txt">
        <p>free</p>
        <ul class="margin-s-t">
          <li>visualization of the last 5, 10 and 100 years
          <li>shows risk areas around the globe
          <li>storm frequency
          <li>storm speeds
          <li>yearly visualizations
          <li>8 pages
          <li>delievered to your inbox
        </ul>
      </div>

      <button class="button margin-m-tb" aria-label="Send It" onclick="void()">Send It</button>
    </li>

    <li class="product-option product-option_buy | card">
      <h3 class="product-price | type2 bold md:center margin-s-b">25 EUR</h3>
      <div class="product-txt">
        <p>buy</p>
        <ul class="margin-s-t">
          <li>visualization of the last 5, 10, 15 and 100 years
          <li>shows risk areas around the globe
          <li>storm frequency
          <li>storm speeds
          <li>monthly visualizations that allow for better route planing
          <li>30 pages
        </ul>
      </div>
      <button class="button margin-m-tb" aria-label="Buy Now" onclick="paddle_buy_lite()">Buy Now</button>
    </li>

    <li class="product-option product-option_subscribe | card">
      <h3 class="product-price | type2 bold md:center margin-s-b">50 EUR</h3>
      <div class="product-txt">
        <p>
          Marketing suggests to have a 3rd option so you pick the one in the middle.
        </p>
        <ul class="margin-s-t">
          <li>visualization of the last 5, 10, 15 and 100 years
          <li>shows risk areas around the globe
        </ul>
      </div>
      <button class="button margin-m-tb" aria-label="Buy Now" >Buy Now</button>
    </li>
  </ul>

</section>



<section class="product-disclaimer | layout-text margin-xl-t">

  <h2 class="bold margin-s-b">Disclaimer</h2>

  <p>
    Make no mistake - I am no meteorologist. I am a software engineer. I am also not reselling the data that is publicly available. I am selling the work that went into compiling it.
  </p>

  <p>
    As much as the common pilot charts are not a forecast, this compilation also is a retrospective. It cannot predict the future - but it does give an idea of what to expect.
  </p>

  <p>
    In the end it cannot give any guaranties. Weather has become less and less predictable. But I will trust my boat and life to the fact that I did a good job. If you are using this data the final call is still on you when watching the live weather forecast.
  </p>

</section>

<section class="product-disclaimer | layout-text margin-xl-t padding-l-b">

  <h2 class="bold margin-s-b">Give Feedback</h2>

  <p>
    I am hope this visualization is helpful to you and it will help you to stay safe out there. If you have any suggestions or feedback - please let me know.
  </p>


</section>

</main>
