/* Merriweather */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/merriweather-v20-latin-400.woff2') format('woff2'),
       url('/fonts/merriweather-v20-latin-400.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/merriweather-v20-latin-700.woff2') format('woff2'),
       url('/fonts/merriweather-v20-latin-700.woff') format('woff');
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/poppins-v9-latin-400.woff2') format('woff2'),
       url('/fonts/poppins-v9-latin-400.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/fonts/poppins-v9-latin-600.woff2') format('woff2'),
       url('/fonts/poppins-v9-latin-600.woff') format('woff');
}

/* Source Code Pro */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/source-code-pro-v9-latin-400.woff2') format('woff2'),
       url('/fonts/source-code-pro-v9-latin-400.woff') format('woff');
} 