@import "./fonts.css";
@import "tailwindcss" source("../../src");

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;
}

@theme {
  --font-sans: "Poppins";
  --font-serif: "Merriweather";
  --font-mono: "Source Code Pro";

  --color-my-gray: #2a2a2a;
  --color-my-orange: #f3a433;
}

/* navigation */

nav > ol > li:has(> a[aria-current="page"]) {
  @apply bg-my-gray px-[18px] pb-[3px] pt-[85px] mr-4;
}

nav > ol > li:not(:has(> a[aria-current="page"])) {
  @apply pr-4 pb-[3px] pt-[85px];
}

nav > ol > li > a[aria-current="page"] {
  @apply text-white hover:text-yellow-400;
}

nav > ol > li > a:not([aria-current="page"]) {
  @apply text-black hover:text-yellow-400;
}

/* interactive */

button,
.button {
  @apply text-lg font-sans bg-blue-500 text-white px-4 py-2 rounded-lg;
}

.alternating {
  span:nth-child(even) {
    @apply text-gray-500;
  }
}

details {
  @apply cursor-pointer;
}

summary {
  @apply text-gray-500 hover:text-gray-900 text-sm py-2;
}

details li {
  @apply py-2;
}

/* article */

.social {
  @apply duration-200 hover:scale-110 py-10;
}

article main p {
  @apply container mx-auto max-w-screen-lg py-4 font-serif text-lg/8;
}

article h2,
article h3 {
  @apply container mx-auto max-w-screen-lg font-sans;
}

article h2 {
  @apply text-2xl font-bold pt-10;
}

article h3 {
  @apply text-lg font-bold pt-10;
}

article table {
  @apply container mx-auto max-w-screen-lg font-sans my-10;
}

article thead {
  @apply bg-gray-300 pt-10;
}

article tbody {
  @apply bg-gray-200 pb-10;
}

article td,
article th {
  @apply px-4;
}

article pre:has(code) {
  @apply bg-gray-100 overflow-x-auto;
}

article blockquote {
  @apply container mx-auto max-w-screen-lg;
}

article blockquote p {
  @apply italic px-15 py-10 text-xl/9 text-gray-700;
}

article pre code {
  @apply container mx-auto max-w-screen-lg font-mono text-base py-10 block;
}

article figure {
  @apply container mx-auto max-w-screen-lg py-10;
}

article picture {
  @apply py-10;
}

article figcaption {
  @apply text-gray-500 text-sm pt-5;
}
