---
layout: layouts/default
---

<main class="">

  <section class="bg-white text-my-gray">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">
      <h1 class="sr-only">Torsten Curdt writing about tech.</h1>
      <p class="">
      Over the years I have written articles about my journey through the tech space this covers hiring and remote work or technical challenges to follow along feel free to subscribe via RSS or mailing list
      </p>
    </div>
    </div>
  </section>

  <section class="bg-my-gray text-white">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

      <a href="duff-device">duff-device</a>

    </div>
  </section>

</main>
