---
layout: layouts/product
title: Flip Flop Fix
description: The Havaianas Repair Kit
keywords: fix, repair, flip flops, japanke, јапанке, slippers, sandals, thongs, pluggers, jandals, slops, plakkies, slops, tsinelas, smagol, havaianas
---

<main class="text-lg bg-white">

  <section class="container mx-auto max-w-screen-lg pt-20">

    <div class="">
      <img eleventy:widths="400" src="overview.jpg" alt="{{ title }}" class="drop-shadow"/>
    </div>

    <div class="">
      <h1 class="">Flip Flop Fix</h1>
      <h2 class="">Repair on the go.</h2>
      <p class="">#repairkit</p>

      <p class="">
        Includes:
      </p>
      <ul class="">
        <li>waterproof alu capsule
        <li>keyring
        <li>screw driver bit
        <li>2 screws
        <li>needle
        <li>plastic inlay
      </ul>

      <p class="">
        15 EUR
      </p>
      <p class="">
        incl. VAT and shipping to Germany or Austria.<br>
        Write an <a href="mailto:{{ site.author.email }}">email</a> if you are from another country.
      </p>

      <p class="py-10">

        <a class="button" href="https://buy.stripe.com/14kdRuaZr8597Nm7st">Buy Product</a>

      </p>

    </div>

  </section>

  <section class="container mx-auto max-w-screen-lg">
    <p class="">Out and about and the darn sandal broke again?</p>
    <img src="broken.jpg" alt="broken flip flop" class="" />
    <p class="">With this flip flop fix kit you can repair your Havaianas on the go.</p>
  </section>

  <section class="container mx-auto max-w-screen-lg">
    <p class="">When I had to walk barefoot through the jungle I wanted something to fix my shoes.</p>
  </section>

  <section class="container mx-auto max-w-screen-lg">
    <video controls="controls" src="explainer.mp4" poster="explainer.jpg" preload="true" class="">
      <h2 class="">How to fix a flip flop?</h2>
      <p>Here would be a video, but your browser does not support that.</p>
    </video>
  </section>

  <section class="container mx-auto max-w-screen-lg">

    <h2 class="">Frequently Asked Questions</h2>

    <h3 class="">That's almost the price of new pair! Isn't that a little expensive?</h3>
    <ul class="">
      <li>You could just buy a new pair - but will you have that pair available the exact moment your shoe breaks?
      <li>Up until now I am only doing small batches. All work is manually and labour isn't cheap over here.
      <li>The tool should last a long time - if not a life time.
      <li>Repairing gives your flip flops a 2nd life, which is better for the environment.
    </ul>

    <h3 class="">How many repairs does it last?</h3>
    <p>The current version only holds a single screw. So it lasts for a single repair and then needs to be refilled. The kit comes with 2 screws in total. In theory you can even re-use the screws. For the tool itself, there is no good reason it shouldn't last a life time. During testing I've done many repairs with it - probably more than the number of flip flops you will ever own.</p>

    <p class="">Got more questions? Write an <a href="mailto:{{ site.author.email }}">email</a>.

  </section>

</main>
