---
layout: layouts/base
title: Articles by Torsten Curdt
sitemap: false
---

<main class="">

  <section class="bg-white text-my-gray">
    <div class="container mx-auto max-w-screen-lg text-2xl/10 py-10 font-serif alternating">

      Sailing
      Backpacking
      Living

    </div>
  </section>

  <section class="bg-my-gray text-white">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

      <ol>
      {%- for article in collections.travel -%}

      <li class="pb-5">
        <a class="text-3xl font-serif" href="{{ article.url }}">{{ article.data.title }}</a>
        <div class="text-sm text-gray-500">{{ article.data.tags | join(', ') }}</div>
      </li>

      {%- endfor -%}
      </ol>

    </div>
  </section>

</main>
