---
sitemap: false
permalink: /_redirects
---
/-/btw  /?utm_source=twitter&utm_medium=social&utm_campaign=bio
/-/bfb  /?utm_source=facebook&utm_medium=social&utm_campaign=bio
/-/bch  /?utm_source=clubhouse&utm_medium=social&utm_campaign=bio
/-/big  /?utm_source=instagram&utm_medium=social&utm_campaign=bio
/-/cyt  /?utm_source=youtube&utm_medium=social&utm_campaign=comment
/-/btff /products/flip-flop-fix/?utm_source=twitter&utm_medium=social&utm_campaign=bio
/-/bgh  /tech/?utm_source=github&utm_medium=social&utm_campaign=bio
/-/cns  /?utm_source=nostr&utm_medium=social&utm_campaign=comment
/-/bli  /?utm_source=linkedin&utm_medium=social&utm_campaign=bio
/-/bso  /?utm_source=stackoverflow&utm_medium=social&utm_campaign=bio