---
sitemap: false
permalink: /_redirects
---
/-/btw  /
/-/bfb  /
/-/bch  /
/-/big  /
/-/cyt  /
/-/cns  /
/-/bli  /
/-/bso  /
/-/bgh  /articles/
/-/btff /products/flip-flop-fix/
/tech/posts/why-javadocs-suck/ /articles/why-javadocs-suck/
/tech/posts/duff-device/ /articles/duff-device/
/tech/posts/ditto-vs-zip/ /articles/ditto-vs-zip/
/tech/posts/client-cert-authentication-with-java/ /articles/client-cert-authentication-with-java/
/tech/posts/building-debian-packages-in-java/ /articles/building-debian-packages-in-java/
/tech/posts/native-file-locks-in-java/ /articles/native-file-locks-in-java/
/tech/posts/recursive-file-listing-java/ /articles/recursive-file-listing-java/
/tech/posts/not-enough-entropy/ /articles/not-enough-entropy/
/tech/posts/debugging-https/ /articles/debugging-https/
/tech/posts/java-classpath-and-directories/ /articles/java-classpath-and-directories/
/tech/posts/random-lines-from-large-files/ /articles/random-lines-from-large-files/
/tech/posts/efficient-time-series-data/ /articles/efficient-time-series-data/
/tech/posts/master-slave-consistency-to-scale-mysql/ /articles/master-slave-consistency-to-scale-mysql/
/tech/posts/modulo-of-negative-numbers/ /articles/modulo-of-negative-numbers/
/tech/posts/qr-barcode-automation/ /articles/qr-barcode-automation/
