---
title: CV - Torsten Curdt
description: The CV of Torsten Curdt
keywords: tcurdt, torsten curdt, software engineer, cv
layout: layouts/default
class: cv
sitemap: false
---

<main class="">
  <section class="">
    <h1 class="hidden">The CV of Torsten Curdt</h1>
    <p class="">
      <span>I got my first computer at age 12.<br></span>
      <span>I wrote optimized 3d code in assembler at age 14.<br></span>
      <span>I starting freelancing at age 17.<br></span>
      <span>I founded my first company at age 24.</span>
    </p>
  </section>

  <section class="">
    <h2 class="hidden">I've contributed to</h2>
    <hr/>
    <ul class="">
      <li class="job_apache">
        <a href="https://apache.org/">
          <p class="hidden">apache</p>
          <img style="height:45px" src="/assets/img/logo-apache.svg" alt="apache"/>
          <p class="hidden">
          Long time open source contributor and member of the Apache Software Foundation.
          </p>
        </a>
      </li><!--
      --><li class="job_honeypot">
        <a href="https://www.honeypot.io/">
          <p class="hidden">honeypot</p>
          <img style="height:35px" src="/assets/img/logo-honeypot.svg" alt="honeypot"/>
          <p class="hidden">
          As technical advisor helped hiring the initial technical team, advised on the technology stack and provided guidance in technical decisions.
          </p>
        </a>
      </li><!--
      --><li class="job_soundcloud">
        <a href="https://soundcloud.com/">
          <p class="hidden">soundcloud</p>
          <img style="height:50px" src="/assets/img/logo-soundcloud.svg" alt="soundcloud"/>
          <p class="hidden">
          As part of the data team helped to build the data warehouse, improve scalability and push the architecture beyond 16Mio users.
          </p>
        </a>
      </li><!--
      --><li class="job_gilt">
        <a href="https://www.gilt.jp">
          <p class="hidden">gilt</p>
          <img style="height:25px" src="/assets/img/logo-gilt.svg" alt="gilt"/>
          <p class="hidden">
          Helped to the create the concept and implement the Gilt Japan iOS App. Was featured by Apple for more than 4 weeks.
          </p>
        </a>
      </li><!--
      --><li class="job_joost">
        <a href="https://en.wikipedia.org/wiki/Joost">
          <p class="hidden">joost</p>
          <img style="height:30px" src="/assets/img/logo-joost.svg" alt="joost"/>
          <p class="hidden">
          Helped to build and maintain a scalable web and data infrastructure. Led the distributed data team responsible for user tracking and reporting.
          </p>
        </a>
      </li>
    </ul>
    <hr/>
  </section>

  <section class="">
    <h2 class="">Open Source</h2>
    <ol class="">
      <li>
        <div class="">Jun 2005 - now</div>
        <p>Member of the ASF</p>
      </li>
      <li class="">
        <div class="">Jun 2007 - Aug 2009</div>
        <p>VP Apache Commons</p>
      </li>
    </ol>
  </section>

  <section class="">
    <h2 class="">Companies I have worked with</h2>

    <ol class="">
      <li>
        <div class="">Oct 2021 - now, remote</div>
        <h3 class="">Technical Project Manager at <a href="https://www.bbaw.de/">Berlin-Brandenburgischen
Akademie der Wissenschaften</a></h3>
        <p>
          Guided an operational system migration to an external server with hands on support. Technical contact and project management to reduce technical debt and lifted an old Laravel code base to the current version. Hiring of outsourced engineering and support of the local team.
        </p>
      </li>
      <li class="">
        <div class="">Sep 2020 - now, Berlin and remote</div>
        <h3 class="">Technical Advisor at <a href="https://edkimo.com/">Edkimo</a></h3>
        <p>
          Technical advice on the MVP. Now helping to improve the 3rd product iteration by giving senior advise on topics like data modeling, operations, scalability, or just good software engineering. Helping to hire and grow the team. Now also one of the Angel investors.
        </p>
      </li>
      <li class="">
        <div class="">Apr 2015 - Dec 2020, Berlin and remote</div>
        <h3 class="">Technical Advisor at <a href="https://www.honeypot.io/">Honeypot</a></h3>
        <p>
          The first technical person at Honeypot. Helped with interviewing and hiring the developers for the MVP, advised on the technology stack and technical decisions.
          Honeypot got acquired by Xing in 2019.
        </p>
      </li>
      <li class="">
        <div class="">Aug 2017 - Jun 2018, remote</div>
        <h3 class="">iOS and Embedded Development at <a href="https://calliope.cc/">Calliope</a></h3>
        <p>
          Worked on the Calliope mini iOS app to transfer firmware to the device via Bluetooth. Also implemented a tiny VM for the firmware of the iOS playbook. Mostly Swift and C/C++.
        </p>
      </li>
      <li class="">
        <div class="">Apr 2016 - Aug 2017, remote</div>
        <h3 class="">iOS Development at <a href="https://www.galeria.de/">Galeria Kaufhof</a></h3>
        <p>
          UX consulting, temporary product owner and manager. Worked with the different departments to build the concept for the MVP and then implemented it with the latest technologies. (Swift, Reactive)
        </p>
      </li>
      <li class="">
        <div class="">Feb 2016 - Jul 2016, Berlin</div>
        <h3 class="">Backend Development at Viorama</h3>
        <p>
          Helped to finish up the the REST backend written in Go and implemented iOS push notifications for their launch at SXSW. DevOps babysitting of the kubernetes cluster in the Google Cloud. Won the SXSW Accelerator award.
        </p>
      </li>
      <li class="">
        <div class="">Feb 2013 - Jul 2014, remote</div>
        <h3 class="">iOS Development at <a href="https://www.gilt.jp/">Gilt Japan</a></h3>
        <p>
          Built the new Gilt Japan iOS application and helped with the underlying backend API. Featured by Apple. (Objective-C, Reactive, MVVM, NodeJS)
        </p>
        <!--
        <details>
          <summary>Recommendations</summary>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/adriantrenaman/" rel="nofollow">Adrian Trenaman</a>
              <p>Torsten worked with our Tech, Productive and Creative teams on our iOS app in Gilt Japan in 2013 and the first half of 2014; we launched in July 2014. The app was a huge success; the UX, look-and-feel, and rich native feature-set resonated with our Customers. It also resonated hugely with Apple, who have featured our app in their own marketing materials.
              <p>Torsten is great to work with - he's smart, well-spoken, and knows how to communicate with remote teams. We were thrilled with his commitment and performance. I have no reservations in recommending him as a great partner and engineer for iOS development
            </li>
          </ul>
        </details>
        -->
      </li>
      <li class="">
        <div class="">Mar 2010 - Aug 2012, Berlin and remote</div>
        <h3 class="">Data Team at <a href="https://soundcloud.com">SoundCloud</a></h3>
        <p>
          Worked on multiple projects to improve scalability and pushing the architecture beyond 16 Mio users. This covered data and ops engineering as well as backend architecture.<br>
          Built prototypes to replace the old stats system based on MongoDB and Cassandra (but built the final version with Mysql). Improved the jmx monitoring integration of java components. Worked on a better master-slave adapter for Rails to better utilize the slave databases. Helped getting the Hadoop cluster and the whole data pipeline setup and integrated. Worked on MapReduce jobs for analytics.
        </p>
      </li>
      <li class="">
        <div class="">Dec 2008 - Jun 2009, remote</div>
        <h3 class="">iOS Development and Backend Architecture at <a href="http://agilepartners.com/">Agile Partners</a></h3>
        <p>
          Helped to design the architecture and create a custom CMS for ieee.org. Worked on Star6 and the Merck Manuals iOS apps.
        </p>
        <!--
        <details>
          <summary>Recommendations</summary>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/jackivers/" rel="nofollow">Jack Ivers</a>
              <p>Torsten is a top-notch software architect and developer, capable of taking on really tough projects. Strong in both Java and Objective-C/iPhone.
            </li>
          </ul>
        </details>
        -->
      </li>
      <li class="">
        <div class="">Sep 2006 - Nov 2008, remote</div>
        <h3 class="">Data Team Lead at <a href="https://en.wikipedia.org/wiki/Joost">Joost</a></h3>
        <p>
          First helped to build and maintain a scalable web infrastructure and deployment procedures. Then responsible for the area of user tracking and reporting. Led the team to improve the hadoop based storage and reporting system. Also maintained and improved the low level tracking components.
        </p>
        <!--
        <details>
          <summary>Recommendations</summary>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/andreacampi/" rel="nofollow">Andrea Campi</a>
              <p>Torsten is a very smart guy with strong work ethics and a knack for hard problems: in other words, throw him the hardest nuts to crack and you can be sure he'll solve the problem, make things work much better, and quite probably have fun in doing so. He's also a great person to work with and a trusted friend.
            </li>
            <li>
              <a href="https://www.linkedin.com/in/swallez/" rel="nofollow">Sylvain Wallez</a>
              <p>After having worked together for years on Apache projects, Torsten and I became more traditional colleagues at Joost. He showed there an incredible dedication and sense of responsibility. Hard at work, able to address all kinds of problems and situations, ranging from operations and development to architecture and team leading.
              <p>I highly recommend Torsten. You'll be amazed by what he can achieve.
            </li>
            <li>
              <a href="https://www.linkedin.com/in/pierfumagalli/" rel="nofollow">Pier Fumagalli</a>
              <p>Torsten and I have been collaborating for a number of years on different projects hosted by the Apache Software Foundation, and he has proved himself to a tremendous asset.
              <p>In the past two years I've also been extremely impressed by his leadership and engineering skills while working at Joost, where he leads the analytics data harvesting team: his somehow unorthodox solutions helped simplify dramatically the software stack used to gather analytics data, improving performance and lowering maintenance and deployment times.
              <p>Definitely he is one of the smartest and most experienced Java engineers I've ever had the privilege to work with.
            </li>
            <li>
              <a href="https://www.linkedin.com/in/fredericbertin/" rel="nofollow">Frederic Bertin</a>
              <p>I really enjoyed working in Torsten's team. Needless to say he's one of the smartest person I've ever met. There are so many things to learn from him... He's got incredible software engineering and organization skills, he's always one step forward. Besides, his human qualities add to the fact that it's very motivating to work with him. I wish everyone to have the good luck to do so one day!
            </li>
            <li>
              <a href="https://www.linkedin.com/in/thomasfriol/" rel="nofollow">Thomas Friol</a>
              <p>I had the chance to work with Torsten during more than 6 months within a team of 4 people where he was the leader.
              <p>It was a great pleasure for me to work with someone who has always a great knowledge of what he is working on. He always gave me good advices and considered me as someone who could bring him things as well.
              <p>If I have the opportunity to work with Torsten again, I won't hesitate !!!
            </li>
            <li>
              <a href="https://www.linkedin.com/in/francisoud/" rel="nofollow">Benjamin Francisoud</a>
              <p>Torsten is a well organized, hard working person. He helps and motivates his team to work together through the day to day problems but always has the big picture in mind.
            </li>
          </ul>
        </details>
        -->
      </li>
      <li class="">
        <div class="">Apr 2004 - Aug 2006, Frankfurt and Melbourne</div>
        <h3 class="">Senior Software Engineer at <a href="https://www.flexera.com/">ManageSoft</a></h3>
        <p>
          Key role in design and implementation of several Mac/Unix and Windows products. Internal and external trainings and presentations. Improvements to build, test and continuous integration infrastructure.
        </p>
        <!--
        <details>
          <summary>Recommendations</summary>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/michaelmelhem/" rel="nofollow">Michael Melhem</a>
              <p>Torsten is probably one of the brightest and most talented individuals I have ever worked with. He is well known in the open source community and recognized by his peers as a leader. Yet at the same time, he is a very amiable and humble person who is very easy to work with. No doubt he will be a great asset to any organization that chooses to take him on board.
            </li>
          </ul>
        </details>
        -->
      </li>
      <li class="">
        <div class="sans type-1 fg-color3">Apr 1999 - Sep 2003, Göttingen</div>
        <h3 class="bold">Founder and CTO at dff internet &amp; medien</h3>
        <p>
          Architect of a PHP and a Cocoon based web application platform. Technical lead for several B2B and B2C web solutions. Architect of a mobile tracking solution focused on innovative usability. Contributor to the Apache Cocoon project.
        </p>
      </li>
      <li class="">
        <div class="">1992 - 1999, Göttingen</div>
        <h3 class="">Freelancer</h3>
        <p>
          Linux based modem alarming system written in C with custom hardware, TA for C++ at University, and many more small jobs.
        </p>
      </li>
    </ol>
  </section>
</main>
