---
layout: layouts/base
title: Torsten Curdt
---

<main class="">

  <section class="bg-white text-my-gray">
    <div class="container mx-auto max-w-screen-lg pt-20 pb-10">
      <h1 class="text-5xl/9 font-serif">I am Torsten Curdt.</h1>
      <p class="text-xl/9">Get in touch to create something great.</p>
    </div>
    </div>
  </section>

  {% include 'partials/socials.njk' %}

  <section class="bg-my-gray text-white">
    <div class="container mx-auto max-w-screen-lg text-2xl/10 py-10 font-serif alternating">

    Contact Form

    </div>
  </section>

</main>
