---
layout: layouts/base
title: Torsten Curdt
---

<main class="">

  <section class="bg-white text-my-gray">
    <div class="container mx-auto max-w-screen-lg pt-20 pb-10">
      <h1 class="text-5xl/9 font-serif">I am Torsten Curdt.</h1>
      <p class="text-xl/9">Get in touch to create something great.</p>
    </div>
    </div>
  </section>

  <section class="bg-my-gray text-white">
    <div class="container mx-auto max-w-screen-lg text-2xl/10 py-10 font-serif alternating">
      <span class="font-bold">I can help you</span>
      <span>vet and pick the right team</span>
      <span>automate and improve your processes</span>
      <span>establish successful remote work strategies</span>
      <span>audit, scale and future proof your software architecture</span>
      <span>write, validate or implement mobile application concepts</span>
      <span>define and shape your companies open source strategy.</span>
    </div>
  </section>

  <!--
  <section id="contact" class="relative bg-white before:absolute before:inset-0 before:bg-my-gray before:origin-[50%_0] before:transform before:-skew-y-2">
    <div class="relative z-10 container mx-auto max-w-screen-lg py-10 text-white font-merriweather text-lg">
      I can help you vet and pick the right team automate and improve your processes establish successful remote work strategies audit, scale and future proof your software architecture write, validate or implement mobile application concepts define and shape your companies open source strategy.
    </div>
  </section>
  -->

</main>
