---
layout: layouts/base
---

<main class="font-serif">

  <div class="text-lg bg-white">
    <section class="container mx-auto max-w-screen-lg pt-10">
      <h1 class="text-5xl/9 my-10">Legal Notice</h1>
      <p class="pb-5 font-sans">
        Hazelfin GmbH<br>
        Oberdorf 4<br>
        37136 Landolfshausen<br>
        Germany<br>
      </p>

      <p class="pb-5 font-sans">
        Registration: Handelsregister<br>
        Register Court: Amtsgericht Göttingen<br>
        Registernummer: HRB 201 663<br>
        VAT-ID: DE 279 568 061
      </p>

      <p class="font-sans">
        Represented by Torsten Curdt<br>
        Phone: +49 5507 891089<br>
        Email: <a href="mailto:info@hazelfin.com">info@hazelfin.com</a>
      </p>

    </section>
  </div>

  <div class="text-lg bg-white">
    <section class="container mx-auto max-w-screen-lg">

      <h2 class="pt-10 pb-5 font-bold">Liability for Content</h2>
      <p>
        We make every effort to keep the information on our web site accurate, but accept no liability whatsoever for the content provided. We are furthermore only responsible for our content on these web pages. We are not obliged to monitor third-party information provided or stored on our web site. However, we shall promptly remove any content upon becoming aware that it violates the law. Our liability in such an instance shall commence at the time we become aware of the respective violation.
      </p>

      <h2 class="pt-10 pb-5 font-bold">Liability for Links</h2>
      <p>
        Our site contains links to third-party web sites. We have no influence whatsoever on the information on these sites and accept no guaranty for its correctness. The content of such third-party pages is the responsibility of the respective owners/providers. No violations were evident to us at the time of linking. We shall promptly delete a link upon becoming aware that it violates the law.
      </p>

      <h2 class="pt-10 pb-5 font-bold">Copyright</h2>
      <p class="">
        The content and works provided on these web pages are governed by the copyright laws of Germany. Duplication, processing, distribution, or any form of commercialization of such material beyond the scope of the copyright law shall require the prior written consent of its respective author or creator.
      </p>

      <div class="py-10">
        <a href="../privacy/" class="button">Read Privacy Notice</a>
      </div>

    </section>

  </div>
</main>
