---
layout: layouts/default
---
<main class="text-lg bg-white">

  <h1 class="my-10 mx-auto max-w-screen-lg">
    <span class="">Resources and People</span><br>
    <span>I think are worth knowing.</span>
  </h1>

  <div class="bg-my-gray text-white py-10">
  <section id="sailing" class="mx-auto max-w-screen-lg">
    <ul class="">
      <li>like1</li>
      <li>like2</li>
    </ul>
  </section>
  </div>

  <div class="bg-my-gray text-white py-10">
  <section id="add" class="mx-auto max-w-screen-lg">
    What am I missing? <a href="/contact" class="underline">Let me know</a>.
  </section>
  </div>

</main>
