---
layout: layouts/base
sitemap: false
---

<main class="font-serif">

  <div class="text-lg bg-white">
    <section class="container mx-auto max-w-screen-lg pt-10">
      <h1 class="text-5xl/9 my-10">Privacy Policy</h1>
      <p class="">
        This <a href="https://gdpr.eu/privacy-notice/">privacy policy</a> explains how we use the personal data we collect from you when you use our website.
      </p>
    </section>

    <section class="container mx-auto max-w-screen-lg">
      <h2 class="pt-10 pb-5 font-bold">Visiting the Website</h2>
      <p>
        By visiting the website, the CloudFlare CDN receives your IP and browser details, it sets a cookie for technical reasons.
        Please see their privacy policy for more details.
        If the request is not cached we will receive your IP address and some browser details.
        This information is ephemeral and only used for operational purposes.
        They get deleted from our systems after 7 days.
        To gather usage statistics we use a self-hosted GDPR compliant web tracking solution that does not track any personal information.
      </p>
    </section>

    <!--
    <section class="container mx-auto max-w-screen-lg">
      <h2 class="pt-10 pb-5 font-bold">Subscribing to a Newsletter</h2>
      <p>
        By subscribing to the newsletter we receive the email address and the IP at the time of the subscription.
        The latter we require to comply with the regulations.
        The email address we need to send out the newsletter to.
        The actual email delivery is handled by Amazon AWS.
        For this reason, we need to share the email address and the content of the email.
        Please see their privacy policy for details.
        By clicking on a link inside the newsletter we will receive information that it was read.
        On email delivery problems we also get notified by AWS with all information related to the problem. The later information is ephemeral.
      </p>
    </section>
    -->

    <section class="container mx-auto max-w-screen-lg">
      <h2 class="pt-10 pb-5 font-bold">Buying a Product</h2>
      <p>
        When you click to buy a product you leave our website.
        All data gathering and the payment processing is handled by Stripe.
        They store your personal information related to the purchase.
        Please see their privacy policy for details.
      </p>
      <!--
      <p>
        All data gathering and the payment processing is handled by Gumroad.
        They store your personal information related to the purchase.
        Please see their privacy policy for details.
      </p>
      -->
    </section>

    <!--
    <section class="container mx-auto max-w-screen-lg">
      <h2 class="pt-10 pb-5 font-bold">Marketing</h2>
      <p>
        When you arrive at our products from a Facebook Ad, we will track the conversion but no further personal data.
        For questions on conversion tracking please see their privacy policy.
      </p>
    </section>
    -->

    <section class="container mx-auto max-w-screen-lg">
      <h2 class="pt-10 pb-5 font-bold">How we store your Data</h2>
      <p>
        We rent our servers from a hoster called Contabo.
        The servers are located in Germany.
        They are secured by a firewall and allow only cryptographically secured access from our accounts.
        Please see their privacy policy for further details.
      </p>
    </section>

    <section class="container mx-auto max-w-screen-lg">
      <h2 class="pt-10 pb-5 font-bold">Data Retention</h2>
      <p>
        We will retain your personal information only for as long as is necessary for the purposes set out in this privacy policy.
        We will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies.
      </p>
    </section>

    <section class="container mx-auto max-w-screen-lg pb-10">
      <h2 class="pt-10 pb-5 font-bold">Third Party Privacy Policies</h2>
      <p>
      <ul class="list-disc">
        <li><a href="https://www.cloudflare.com/privacypolicy/" rel="nofollow">CloudFlare</a>
        <li><a href="https://contabo.com/en/legal/privacy/" rel="nofollow">Contabo</a>
        <li><a href="https://aws.amazon.com/compliance/gdpr-center/" rel="nofollow">Amazon</a>
        <li><a href="https://stripe.com/en-de/privacy" rel="nofollow">Stripe</a>
      </ul>
      </p>
    </section>
  </div>

  <div class="bg-my-gray text-white text-lg/7">
    <section class="container mx-auto max-w-screen-lg">

      <h2 class="pt-10 pb-5 font-bold">Changes to the Privacy Policy</h2>
      <p class="pb-10">
        We keeps the privacy policy up-to-date.
        This privacy policy was last updated on 19.11.2021.<br>
        If you have any questions, please see the legal notice page on how to get in touch.
      </p>

      <div class="pb-10">
        <a href="../legal/" class="button">Read Legal Notice</a>
      </div>

    </section>
  </div>

</main>
