<footer class="layout-main padding-l-tb sans">
  &copy;&nbsp;Torsten&nbsp;Curdt |
  <a href="mailto:{{ site.author.email }}">Email</a> |
  <!-- <a href="/newsletter/">Newsletter</a> | -->
  <a href="/likes/">Likes</a> |
  <a href="/legal/">Legal&nbsp;Notice</a> |
  <a href="/privacy/">Privacy&nbsp;Policy</a>
</footer>
