<li class="margin-m-t">
  <h3 class="title type2 serif fg-color0"><a href="{{ post.url }}" class="no-link">{{ post.data.title }}</a></h3>
  <time class="date type-1 sans fg-color6" datetime="{{ post.data.date | techDate }}">{{ post.data.date | formatDate("yyyy") }}</time>
</li>
