  <section class="bg-white">
    <div class="container mx-auto max-w-screen-lg overflow-x-auto">
    <ul class="flex items-center space-x-6 min-w-max"><!-- justify-between -->
      <li class="social">
        <a href="mailto:{{ site.author.email }}" aria-label="email"
            class="no-link" rel="me">
        <span class="hidden">email</span>
        {% include 'svg/social-email.svg' %}</a></li><!--
      --><li class="social">
        <a href="https://bsky.app/profile/tcurdt.bsky.social" aria-label="bluesky"
            class="no-link" rel="me">
        <span class="hidden">bluesky</span>
        {% include 'svg/social-bluesky.svg' %}</a></li><!--
      --><li class="social">
        <a href="https://mastodon.social/@tcurdt" aria-label="mastodon"
            class="no-link" rel="me">
        <span class="hidden">mastodon</span>
        {% include 'svg/social-mastodon.svg' %}</a></li><!--
      --><!--<li class="social">
        <a href="https://youtube.com" aria-label="youtube"
            class="no-link" rel="me">
        <span class="hidden">youtub</span>
        {% include 'svg/social-youtube.svg' %}</a></li>--><!--
      --><!--<li class="social">
        <a href="https://tiktok.com" aria-label="tiktok"
            class="no-link" rel="me">
        <span class="hidden">tiktok</span>
        {% include 'svg/social-tiktok.svg' %}</a></li>--><!--
      --><li class="social">
        <a href="https://www.linkedin.com/in/tcurdt/" aria-label="linkedin"
            class="no-link" rel="me">
        <span class="hidden">linkedin</span>
        {% include 'svg/social-linkedin.svg' %}</a></li><!--
      --><li class="social">
        <a href="https://github.com/tcurdt" aria-label="github"
            class="no-link" rel="me">
        <span class="hidden">github</span>
        {% include 'svg/social-github.svg' %}</a></li><!--
      --><li class="social">
        <a href="https://instagram.com/tcurdt" aria-label="instagram"
            class="no-link" rel="me">
        <span class="hidden">instagram</span>
        {% include 'svg/social-instagram.svg' %}</a></li>
    </ul>
    </div>
  </section>
