<section class="layout-main padding-xl-tb">
  <h2 class="hidden">Products</h2>
  <p class="alternating type1 serif padding-text">
    <span></span>
    <span>Over the years</span>
    <span>I have written articles</span>
    <span>about my</span>
    <span class="bold">journey through the tech space</span>
    <span>this covers</span>
    <span>hiring</span>
    <span>and</span>
    <span>remote work</span>
    <span>or</span>
    <span>technical challenges</span>
    <span>to follow along feel free to</span>
    <span>subscribe via RSS or mailing list</span>
  </p>
</section>
