---
layout: layouts/base
title: Products by Torsten Curdt
sitemap: false
---

<main class="">

  <section id="hero" class="bg-white px-2">
    <div class="container mx-auto max-w-screen-lg text-lg pt-20 pb-10">

    <ul class="grid grid-cols-1 sm:grid-cols-3 gap-10">
    {%- for product in collections.products -%}

    <li class="">

      <a href="{{ product.url }}" class="">
        <img eleventy:widths="600" src="{{ product.url }}/overview.jpg" alt="{{ product.data.title }}" class="drop-shadow" />
      </a>

      <div class="py-5 pr-5">
        <h2 class="text-xl font-bold pb-5">{{ product.data.title }}</h2>
        <p class="pb-5">{{ product.data.description }}</p>
        <a href="{{ product.url }}" class="button">Learn More</a>
      </div>

    </li>

    {%- endfor -%}
    </ul>

    </div>
  </section>

</main>
