---
layout: layouts/base
---

<main class="">

  <section id="hero" class="bg-white px-2">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

    <ul>
    {%- for product in collections.products -%}

    <li class="bg-sky-500">

      <img eleventy:widths="200" src="{{ product.url }}/overview.jpg" alt="{{ product.data.title }}" />

      <div class="py-5">
      <a href="{{ product.url }}" class="button">Learn More</a>
      </div>

    </li>

    {%- endfor -%}
    </ul>

    </div>
  </section>

</main>
