---
layout: layouts/default
---

<main class="">

  <section id="hero" class="bg-white px-2">
    <div class="container mx-auto max-w-screen-lg text-lg py-10">

      <a href="flip-flop-fix">flip flop fix</a>

    </div>
    </div>
  </section>

</main>
